[user]
  email= alpaca-tc@alpaca.tc
  name= alpaca-tc

[core]
  excludesfile = $HOME/.gitignore
  autocrlf = false; input false
  trailing-space = false
  space-before-tab = false
  ; indent-with-non-tab =
  ; cr-at-eol =
  precomposeunicode = true
  quotepath = false
  editor = vim -c \"set fenc=utf-8\"

[receive]
  denyDeleteCurrent = false

[color]
  ui = true

[alias]
  fsync = "!git fetch origin $(git rev-parse --abbrev-ref HEAD) && git reset --hard FETCH_HEAD"
  rmaster = "!git fetch origin master && git rebase FETCH_HEAD"
  ffetch = "!git fetch origin ${1} && git checkout FETCH_HEAD -b ${1}"

  first = !"fun() { git init; git add -A; git commit -m 'First commit'; }; fun"
  assume = !"fun() { git update-index --assume-unchanged `git ls-files $@ --no-empty-directory`; }; fun"
  no-assume = !"fun() { git update-index --no-assume-unchanged `git ls-files $@ --no-empty-directory`; }; fun"
  assume-list = !"git ls-files -v | grep -e "^[a-z]""

  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"

  append-gitkeep = "!find . -type d -empty -not -path './.git*' -exec touch {}\\/.gitkeep \\;"
  append-gitignore = !"f() { local s=$1; shift; while [ $# -gt 0 ]; do s="$s,$1"; shift; done; curl "http://gitignore.io/api/$s"; }; f"

  remove-branch-all = "!git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*') && git push origin $(git branch -r --merged | grep origin/ | grep -v master | sed s~origin/~:~)"
  remove-alpaca-branch-all = "!git checkout master && git pull origin master && git fetch -p alpaca-tc && git branch -d $(git branch --merged | grep -v master | grep -v '*') && git push alpaca-tc $(git branch -r --merged | grep alpaca-tc/ | grep -v master | sed s~origin/~:~)"
  remove-branch-local = "!git branch -d $(git branch --merged | grep -v master | grep -v '*')"
  remove-branch-remote = "!git push origin $(git branch -r --merged | grep origin/ | grep -v master | grep -v origin/pr/ | sed s~origin/~:~)"

  zip="!date=`date "+%y_%m_%d_%H%M%S"`; directory_name=`basename $(pwd)`; branch_name=`git symbolic-ref --short HEAD`; file_name="${directory_name}_${branch_name}_${date}.zip"; echo "creating... ${file_name}"; git archive HEAD --format=zip -o "${file_name}""
  zip-from="!f() { date=`date \"+%y_%m_%d_%H%M%S\"`; directory_name=`basename $(pwd)`; from_hash=`git log --format=\"%h\" -1 ${1}`; to_hash=`git log --format=\"%h\" -1 HEAD`; file_name=\"${directory_name}_diff_${to_hash}_from_${from_hash}_${date}.zip\"; echo \"creating... ${file_name}\"; git archive --format=zip HEAD $(git diff --name-only HEAD ${1}) -o \"${file_name}\"; }; f"
  submodule-init=submodule update --init --recursive

  resett = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
  ignore = !"f() { local s=$1; shift; while [ $# -gt 0 ]; do s="$s,$1"; shift; done; curl "http://gitignore.io/api/$s"; }; f"
  soft=reset --soft HEAD^

  shallow=clone --depth 1
  dm = !git branch --merged | grep -v '*' | xargs -I % git branch -d %
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' --date=iso
  empty-tree-sha1 = hash-object -t tree /dev/null
  forkdiff = !bash -c 'git diff $(git merge-base "$1" "$2") "$2" "${@: 3}" ' -
  diffm = !"f() { git log HEAD...${1} --oneline | grep Merge; }; f"
  ff = !git clean -fd | git reset --hard
  show-pr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | tail -n 1; }; f"

  difff = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'

[log]
  date = local
  decorate = true

[push]
  default = current

[pull]
  rebase = true
  default = current

[rerere]
  enabled = 1

[help]
  autocorrect = 1

[receive]
  denyDeleteCurrent = false

[issue]
  type = github

[merge]
  ff = false

[branch]
  autosetuprebase = always

[url "https://"]
  insteadOf = git://
[url "github:"]
  insteadOf = https://github.com/
[url "github:"]
  insteadOf = git://github.com/
[url "github:"]
  insteadOf = git@github.com:
[url "github:"]
  insteadOf = ssh://git@github.com
[url "github:"]
  insteadOf = ssh://ssh.github.com
[hub]
  protocol = https
