[user]
  email = alprhcp666@gmail.com
  name = Hiroyuki Ishii

[core]
  excludesfile = /Users/taichou/.gitignore_global
  ; autocrlf     = input
  trailing-space = false
  space-before-tab = false
  precomposeunicode = true

[color]
  ui = true

[alias]
  rs = reset
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' --date=iso
  st = !sh -c 'git ls-remote . | grep `git log -1 --grep="git-svn-id"`
  dm = !git branch --merged | grep -v '*' | xargs -I % git branch -d %
  sn = shortlog -sn
  assume = update-index --assume-unchanged
  no-assume = update-index --no-assume-unchanged

[push]
  default = tracking

[rerere]
  enabled = 1

[help]
  autocorrect = 1

[receive]
  denyDeleteCurrent = false
