# 上記に"無視したくないファイル"としてリスト化した中から、さらに"無視したいファイル"を指定する。
/.zsh/.zsh_history
/sercret
/.eskk/log/*
/sercret
.node_modules
.bundle/*
/bin/*
config/database.yml
*.hot-update*
.gist-vim
.vim/.netrwhist

~
\~
.*~
*.*~
.*~
*.*swp
.*swp
.DS_Store
tags
.sass-cache
serclet
.swg
.swh
.swi
.swj
.swk
.swl
.swm
.swn
.swo
