# viキーバインド
set editing-mode vi
set keymap vi-insert

# チルダをタブにより展開
set expand-tilde on

# 日本語関係
set input-meta on
set convert-meta off
set output-meta on
# set kanji-code utf-8

# タブ補完時、大文字小文字無視
set completion-ignore-case on

# ビープ音を消す
set bell-style none

# コンソールの横幅をあふれたとき自動スクロール
set horizontal-scroll-mode on

# ヒストリー補完機能を Ctrl+N, Ctrl+P に割り当てる
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-l": clear-screen
