@charset "UTF-8";
/*
 * Colors:
 *
 * BG grey : 1b1d1e
 * White : f8f8f2
 *
 * Pink : f92672
 * Orange : fd971f
 * Green : a6e22e
 * Purple : ae81ff
 * Beige : e6db74
 * Blue : 66d9ef
 * Text Grey : #465457
 */
/* line 17, Molokai.scss */
html {
  font-family: 'Menlo';
  font-size: 9pt;
  background-color: #1b1d1e;
  color: #f8f8f2;
}

/* line 25, Molokai.scss */
body .url {
  color: #a6e22e;
  font-weight: bold;
  word-break: break-all;
}
/* line 30, Molokai.scss */
body .url:hover {
  color: #f92672;
}
/* line 35, Molokai.scss */
body .line {
  overflow: hidden;
  *zoom: 1;
  padding: 0 1em;
  margin: auto;
  max-width: 63em;
  min-width: 63em;
}
/* line 50, Molokai.scss */
body .line .time, body .line .place, body .line .sender, body .line .message {
  display: block;
  float: left;
}
/* line 55, Molokai.scss */
body .line .time {
  width: 3em;
  font-size: 85%;
  color: #465457;
}
/* line 61, Molokai.scss */
body .line .place {
  color: #465457;
  font-size: 85%;
  width: 9em;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 68, Molokai.scss */
body .line .sender {
  font-weight: bold;
  width: 8em;
  text-align: right;
  display: inline-block;
}
/* line 74, Molokai.scss */
body .line .sender[type=normal] {
  color: #66d9ef;
}
/* line 78, Molokai.scss */
body .line .sender[type=myself] {
  color: #fd971f;
}
/* line 85, Molokai.scss */
body .line .sender[type=action] .sender:before {
  content: "• ";
  white-space: nowrap;
}
/* line 94, Molokai.scss */
body .line .message[type=notice], body .line .message[type=action] {
  color: #ae81ff;
}
/* line 99, Molokai.scss */
body .line .message[type=system], body .line .message .message[type=join], body .line .message .message[type=kick], body .line .message[type=quit], body .line .message .message[type=kill], body .line .message .message[type=nick], body .line .message .message[type=mode], body .line .message[type=topic], body .line .message .message[type=invite], body .line .message .message[type=wallops] {
  color: #465457;
}
/* line 102, Molokai.scss */
body .line .message[type=reply] {
  color: #a6e22e;
}
/* line 105, Molokai.scss */
body .line .message[type=reply] .url {
  color: #e6db74;
}
/* line 108, Molokai.scss */
body .line .message[type=part] {
  color: #000;
}
/* line 111, Molokai.scss */
body .line .message[type=error], body .line .message .message[type=error_reply] {
  color: #f67b37;
}
/* line 114, Molokai.scss */
body .line .message[type=dcc_send_send] {
  color: #c5af75;
}
/* line 117, Molokai.scss */
body .line .message[type=dcc_send_receive] {
  color: #f9ee98;
}
/* line 120, Molokai.scss */
body .line .message[type=debug_send] {
  color: #8996a8;
}
/* line 123, Molokai.scss */
body .line .message[type=debug_receive] {
  color: #afc4db;
}
/* line 128, Molokai.scss */
body .line .address {
  text-decoration: none;
}
/* line 132, Molokai.scss */
body .line .highlight {
  font-weight: bold;
  padding: 0 3px;
  color: #f92672;
}
/* line 139, Molokai.scss */
body .line .message {
  width: 41em;
  background: #222;
  padding-left: 1em;
}
/* line 144, Molokai.scss */
body .line .time + .message {
  margin-left: 9em;
}
/* line 151, Molokai.scss */
body .line .place + .message {
  margin-left: 8em;
}
