kind=defined
names=bind
visibility=public

--- bind(my_sockaddr) -> 0

ソケットを my_sockaddr に結合します。[[man:bind(2)]]
と同じ働きをします。my_sockaddr は
[[ref:lib:socket#pack_string]]
です。

0 を返します。

@param my_sockaddr ソケットアドレス構造体を pack した文字列[[ref:lib:socket#pack_string]]を指定します。

@return 0 を返します。

