kind=defined
names=pair,socketpair
visibility=public

--- pair(domain, type, protocol) -> Array
--- socketpair(domain, type, protocol) -> Array

相互に結合されたソケットのペアを含む2要素の配列を返します。
引数の指定は [[m:Socket.open]] と同じです。

@param domain [[m:Socket.open]] を参照してください。

@param type   [[m:Socket.open]] を参照してください。

@param protocol [[m:Socket.open]] を参照してください。

@see [[m:Socket.open]]

